[submodule "mergesort"]
	path = mergesort
	url = ./mergesort/
[submodule "rumpus-room"]
	path = rumpus-room
	url = ./rumpus-room/
[submodule "library"]
	path = library
	url = ./library/
[submodule "closet"]
	path = closet
	url = https://github.com/ap251/closet.git
